@font-face {
    font-family:'Roboto Light';
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    src: url("fonts/Roboto-Italic.ttf");
}
@font-face {
    src: url("fonts/Roboto-BoldItalic.ttf");
}
@font-face {
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family:'Material Icons';
    src: url('fonts/MaterialIcons-Regular.ttf');
}
.root {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-text-fill: text-color;
    /* variables */
    primary:  rgb(77,102,204);
    text-on-primary: WHITE;
    text-color: #333333;
    secondary: lightgrey;
    page-bgr-color: #f4f4f4;
}
.h3 {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 24px;
    -fx-padding: 30px 0 30px 0;
    -fx-alignment: center;
}
.h5 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 14px 0 14px 0;
}
.menu-bar {
    -fx-font-size: 12px;
    -fx-font-family: "Roboto";
}
.icon {
    -fx-font-family: "Material Icons";
    -fx-font-size: 28px;
    -fx-padding: 8px 24px 8px 24px;
    -fx-background-color: primary;
    -fx-text-fill: text-on-primary;
}

.invite {
    -fx-font-family: "Segoe Script", cursive;
    -fx-font-size: 42px;
}
.button-primary {
    -fx-background-color: primary;
    -fx-text-fill: text-on-primary;
}

.button-raised{
    -fx-padding: 0.7em 0.5em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: primary;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-large {
    -fx-padding: 0.7em 0.57em;
    -jfx-button-type: RAISED;
    -fx-background-color: primary;
    -fx-pref-width: 250;
    -fx-text-fill: text-on-primary;
    -fx-font-size: 20px;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.content-area{
    -fx-font-size: 1.2em;
}
.header {
    -fx-font-family: "Roboto Light";
    -fx-background-color: primary;
    -fx-min-height: 96px;
    -fx-text-fill: text-on-primary;
    -fx-padding: 0 16px 0 16px;
}
.header__btn-icon {
    -fx-font-family: "Material Icons";
    -fx-font-size: 2em;
    -fx-text-fill: text-on-primary;
    -fx-pref-width: 5em;
    -fx-pref-height: 5em;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-background-radius: 32px;
}
.header__title {
    -fx-text-fill: text-on-primary;
    -fx-font-size: 3em;
    -fx-padding: 20px;
}
.form-panel{
    -fx-font-family: "Roboto";
    -fx-spacing: 20px;
    -fx-max-width: 932px;
    -fx-padding: 50px 16px 50px 16px;
}
.settings-panel {
    -fx-padding: 50 100 50 100;
    -fx-alignment: center;
}
.settings-content {
    -fx-vgap: 20px;
    -fx-hgap: 20px;
    -fx-background-color: WHITE;
    -fx-padding: 10px;
}
.settings-title {
    -fx-font-size: 2em;
    -fx-text-fill: secondary;
}
/**
* HBox container for the item title
*/
.list-item-box {
    -fx-alignment: center-left;
}
/**
* HBox with action buttons displayed in the list
*/
.box-buttons {
    -fx-spacing: 10;
    -fx-alignment:  center-right;
}
/*
.list-cell:empty {
    visibility:hidden;
}
*/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-background-radius: 10;
    -fx-translate-y: -20;
}

.jfx-snackbar-toast {
    -fx-text-fill: text-on-primary;
    -fx-font-size: 1.2em;;
}

.jfx-snackbar-action {
    -fx-text-fill: text-on-primary;
}

.list-present{
    -fx-background-color:  page-bgr-color; /* same color as the page background */
   /* -fx-max-width: 1200px;*/
}
.list-present .list-cell {
    -fx-padding: 20px 10px;
    /* Horizontal space between items*/
    -fx-background-insets: 0px 0px 5px  0;
}
.list-present .list-cell:odd {
    -fx-background-color:  white;
}
.list-present .list-cell:even{
    -fx-background-color:  white;
}

.list-item-title {
    -fx-font-weight: bold;
    -fx-text-fill: text-color;
    -fx-label-padding: 0 0 8px 0;
}
.list-item-info .label{
    -fx-font-size: 0.875em;
    -fx-font-style: italic;
    -fx-text-fill: text-color;
}
.list-item-currency {
    -fx-spacing: 5px;
    -fx-font-weight:  bold;
    -fx-text-fill: text-color;
}
.person-choice-box {
    -fx-height:100px;
}
.person-choice-label {
    -fx-padding: 20px;
    -fx-font-size: 1.5em;
}


/*
SnackedChart colors
*/
/* amount paid  */
.expenses-chart {
    -fx-bar-gap : 30px;
    -fx-category-gap: 50px;
}

.expenses-chart .default-color0 {
    -fx-bar-fill: mediumseagreen ;
}
/* debt amount   */
.expenses-chart .default-color1 {
    -fx-bar-fill: tomato;
}
/* overpaid amount   */
.expenses-chart .default-color2 {
    -fx-bar-fill: skyblue ;
}

.table-view .column-header {
    -fx-size: 50px;
}
.table-row-cell {
    -fx-cell-size: 50px;

}
.table-row-cell:empty {
   -fx-cell-size: 0px;
}
.table-cell {
    -fx-alignment: center;
}
