@font-face {
    /*font-family:'Roboto-Light';*/
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    /*font-family:'MaterialIcons-Regular';*/
    src: url('fonts/MaterialIcons-Regular.ttf');
}
.root {
    -fx-background-color: #F2F2F2;
    -fx-font-size: 12px;
    primary:  rgb(77,102,204);
    text-on-primary: WHITE;
}
.roboto {
     -fx-font-family: "Roboto Light";
     -fx-font-size: 48px;
}
.icon {
    -fx-font-family: "Material Icons";
    -fx-font-size: 18px;
    -fx-min-height: 36px;
    -fx-min-width: 50px;
    -fx-background-color: primary;
    -fx-text-fill: text-on-primary;
}

.invite {
    -fx-font-family: "Segoe Script", cursive;
    -fx-font-size: 42px;
}
.button-raised{
    -fx-padding: 0.7em 0.5em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: primary;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised-large {
    -fx-padding: 0.7em 0.57em;
    -jfx-button-type: RAISED;
    -fx-background-color: primary;
    -fx-pref-width: 250;
    -fx-text-fill: text-on-primary;
    -fx-font-size: 20px;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.content-area{
    -fx-font-size: 16px;
}
.header {
    -fx-background-color: primary;
    -fx-min-height: 100;
    -fx-text-fill: text-on-primary;
    -fx-padding: 0 100 0 100;
}
.header__btn-icon {
    -fx-font-family: "Material Icons";
    -fx-font-size: 42px;
    -fx-text-fill: text-on-primary;
    -fx-pref-width: 100px;
    -fx-alignment: center;
}
.header__title {
    -fx-text-fill: text-on-primary;
    -fx-font-size: 42px;
    -fx-padding: 20px;
}

.form-panel{
    -fx-spacing: 20px;
    -fx-padding: 50 100 0 100;
}

.list-cell:empty {
    -fx-opacity: 0;
}
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
    -fx-shape:" ";
    -fx-padding:0;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
