@font-face {
    /*font-family:'Roboto-Light';*/
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    /*font-family:'MaterialIcons-Regular';*/
    src: url('fonts/MaterialIcons-Regular.ttf');
}
.root {
    -fx-background-color: #F2F2F2;
}
.roboto {
     -fx-font-family: "Roboto Light";
     -fx-font-size: 48px;
}
.mat-font {
    -fx-font-family: "Material Icons";
     -fx-font-size: 24pt;
}
.win-font {
    -fx-font-family: "Segoe MDL2 Assets";
    -fx-font-size: 24pt;
}
